# Data Science Tools abd Ecosystem

**Objectives:**
* popular languages that Data Scientists
* commonly used libraries used by Data Scientists
* table creation

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Lattice
2. NumPy
3. Pandas

In [12]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\usuario\anaconda3\lib\site-packages (0.8.10)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from tabulate import tabulate


data = [["TensorFlow"], 
        ["Apache Hadoop"], 
        ["Apache Spark"]] 
  
#define header names
col_names = ["Data Science Tools"]
  
#display table
print(tabulate(data, headers=col_names))

Data Science Tools
--------------------
TensorFlow
Apache Hadoop
Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python.
This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
200/60

3.3333333333333335

Author:
## Jaime